# SUPABASE
REACT_APP_SUPABASE_URL=
REACT_APP_SUPABASE_ANON_KEY=

# QWEN / TRANSLATION API (Direct endpoint, DO NOT point to Vercel)
REACT_APP_API_URL=https://cuddly-winner-pjqq9q54wrv6f7q7w-8000.app.github.dev/v1/chat/completions
REACT_APP_QWEN_API_URL=https://cuddly-winner-pjqq9q54wrv6f7q7w-8000.app.github.dev/v1/chat/completions

# PHI / MICROSOFT (puerto 8001)
REACT_APP_PHI_API_URL=https://cuddly-winner-pjqq9q54wrv6f7q7w-8001.app.github.dev/v1/chat/completions