# SUPABASE
REACT_APP_SUPABASE_URL=
REACT_APP_SUPABASE_ANON_KEY=

# QWEN / TRANSLATION API (Direct endpoint, DO NOT point to Vercel)
REACT_APP_API_URL=https://improved-meme-9744w4gr5qjvc7655-8000.app.github.dev/v1/chat/completions
REACT_APP_QWEN_API_URL=https://improved-meme-9744w4gr5qjvc7655-8000.app.github.dev/v1/chat/completions